<div class="mt-3 w-full flex align-items-center justify-content-center">
  <div class="w-8 flex flex-column align-items-center justify-content-center">
    <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-calendar"></i>
          <span>{{'calc.business' | translate }}</span>
        </ng-template>
        @if (!loading) {
          <div class="flex flex-column align-items-center justify-content-center">
            <div class="chart-container border-3 border-round border-300">
              <ag-charts-angular style="height: 100%;" [options]="chartOptions">
              </ag-charts-angular>
            </div>
          </div>
        }
      </p-tabPanel>
      <p-tabPanel header="Privat">
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span>{{'calc.private' | translate }}</span>
        </ng-template>
        @if (!loading) {
        <div class="flex flex-column align-items-center justify-content-center">
          <div class="chart-container border-3 border-round border-300">
            <ag-charts-angular style="height: 100%;" [options]="chartOptionsPrivate">
            </ag-charts-angular>
          </div>
          <div class="">
            <input type="number" #peak placeholder="peak value" />
            <input type="number" #peakLength placeholder="peak length" />
            <input type="number" #average placeholder="average" />
            <button type="button" (click)="sendPeakData(peak.value, peakLength.value, average.value)">Send</button>
          </div>
        </div>
        }
      </p-tabPanel>
    </p-tabView>
    
    <div class="flex flex-row justify-content-center align-items-center mt-3">
      <div class="primary2-background border-3 p-2">
        <p class="primary-color">{{'recommendation.b1' | translate }}</p>
      </div>
      <div class="primary2-background border-3 p-2 ml-2">
        <p class="primary-color">{{'recommendation.b2' | translate }}</p>
      </div>
      <div class="primary2-background border-3 p-2 ml-2">
        <p class="primary-color">{{'recommendation.b3' | translate }}</p>
      </div>
    </div>
    @if (responseText !== "") {
      <div class="flex flex-column justify-content-center align-items-center">
        <p>{{responseText}}</p>
      </div>
    }
  </div>
</div>
