<div class="p-d-flex p-flex-column p-px p-pt-10">
  <div
    class="p-d-flex p-overflow-hidden p-relative p-flex-column p-justify-end p-pb-20 p-mt-10 p-w-full p-min-height-[2579px] p-max-md-max-w-full">
    <img loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed9ad311de4771429da7021a6b22c83536466141447471a27bbe1a47a13d0884?"
      class="p-object-cover p-absolute p-inset-0 p-size-full" />
    <div
      class="p-d-flex p-relative p-z-10 p-flex-column p-justify-center p-items-start p-px-16 p-py-10 p--mt-10 p-w-full p-bg-red-400 p-max-md-px-5 p-max-md-max-w-full">
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce8a6407a84f59bd59707f7f3c64dc5f6889ac38e2ac8a64464acfec75c20f31?"
        class="p-ml-7 p-max-w-full p-aspect-[4] p-w-[324px] p-max-md-ml-2.5" />
    </div>
    <div
      class="p-d-flex p-relative p-flex-column p-items-start p-px-20 p-py-20 p-w-full p-text-white p-bg-slate-700 p-max-md-px-5 p-max-md-max-w-full">
      <div class="p-ml-4 p-text-6xl p-font-bold p-max-md-max-w-full p-max-md-text-4xl">
        Vi leverer sikre og bærekraftige
      </div>
      <div class="p-mt-20 p-mb-24 p-ml-4 p-text-3xl p-max-md-my-10 p-max-md-max-w-full">
        Project pidgeon tilbyr en konkret løsning til kunder som etterspør et trygt bla bla bla
      </div>
    </div>
    <div
      class="p-d-flex p-relative p-flex-column p-items-start p-px-20 p-py-16 p-w-full p-bg-white p-max-md-px-5 p-max-md-max-w-full">
      <div
        class="p-d-flex p-gap-5 p-justify-between p-ml-3 p-text-2xl p-font-bold p-whitespace-nowrap p-text-slate-700 p-max-md-flex-wrap">
        <div class="p-d-flex p-grow p-shrink-0 p-justify-center p-items-center p-basis-0 p-w-fit">
          <div
            class="p-overflow-hidden p-relative p-flex-column p-justify-center p-px-14 p-py-5 p-aspect-[3.87] p-fill-zinc-300 p-max-md-px-5">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/0393cdbff2463ea1aaeae814b9c5025489ed4b4da303a282091059e5a559eaf1?"
              class="p-object-cover p-absolute p-inset-0 p-size-full" />
            OPPLAST DATA
          </div>
        </div>
        <div class="p-d-flex p-grow p-shrink-0 p-justify-center p-items-center p-basis-0 p-w-fit">
          <div
            class="p-overflow-hidden p-relative p-flex-column p-justify-center p-px-12 p-py-5 p-aspect-[5.09] p-fill-zinc-300 p-max-md-px-5">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/24b7a10cb4242baae16a121f1b7dc6c3fceadc3841427ba726536d6575773f09?"
              class="p-object-cover p-absolute p-inset-0 p-size-full" />
            MANUELL OPPLASTNING
          </div>
        </div>
      </div>
      <div
        class="p-mt-16 p-ml-3 p-text-3xl p-font-bold p-whitespace-nowrap p-text-slate-700 p-max-md-mt-10 p-max-md-ml-2.5">
        KW OVER TID
      </div>
      <div class="p-d-flex p-gap-3.5 p-mt-6 p-ml-3 p-text-xl p-text-slate-700 p-max-md-ml-2.5">
        <img loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b572f602e4740b50d20862a14decf5be4b743835801ec0a1583e5bbc1ad3b258?"
          class="p-shrink-0 p-my-auto p-w-3.5 p-aspect-square p-fill-red-400" />
        <div>Dine data</div>
      </div>
      <div
        class="p-d-flex p-flex-wrap p-gap-5 p-justify-between p-content-center p-self-stretch p-mt-16 p-max-md-mt-10">
        <div
          class="p-d-flex p-flex-column p-text-2xl p-font-bold p-whitespace-nowrap p-basis-0 p-text-slate-700 p-max-md-hidden">
          <div>400</div>
          <div class="p-mt-16 p-max-md-mt-10">300</div>
          <div class="p-mt-16 p-max-md-mt-10">200</div>
          <div class="p-mt-16 p-max-md-mt-10">100</div>
          <div class="p-mt-16 p-max-md-mt-10">0</div>
        </div>
        <div class="p-d-flex p-flex-column p-grow p-shrink-0 p-my-auto p-basis-0 p-w-fit p-max-md-max-w-full">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/96063e1ba0728e0849dad8520d63101cae8f363f5cc73d9865aba6c2279524a2?"
            class="p-z-10 p--mt-5 p-w-full p-aspect-[5] p-max-md-max-w-full" />
          <div
            class="flex relative flex-col self-center px-20 py-20 mt-16 text-3xl fill-green-200 min-h-[377px] text-slate-700 max-md:px-5 max-md:mt-10 max-md:max-w-full">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/96063e1ba0728e0849dad8520d63101cae8f363f5cc73d9865aba6c2279524a2?"
              class="object-cover absolute inset-0 size-full" />
            <div class="relative mt-8 font-bold max-md:max-w-full">
              Dine muligheterbasert på dine data
            </div>
            <div class="relative mt-11 max-md:mt-10 max-md:max-w-full">
              Nedenfor ser du dine muligeter basert på peak point, varighet, og
            </div>
            <div class="relative mt-1.5 mb-7 max-md:max-w-full">
              antall nødvending KW.
            </div>
          </div>
          <div class="relative self-center px-5 mt-24 max-w-full w-[1035px] max-md:mt-10">
            <div class="flex gap-5 max-md:flex-col max-md:gap-0">
              <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                  <div
                    class="flex overflow-hidden relative flex-col items-start pt-20 pr-20 pb-8 pl-8 w-full aspect-square fill-white max-md:px-5">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/9fe04711275f1d23bc06028d044dc3b77b6f4ff7f4fce41922f118eb393d8dae?"
                      class="object-cover absolute inset-0 size-full" />
                    <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10">
                      Batteri 50 KW
                    </div>
                    <div class="relative mt-1 text-xl">Les mer</div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                  <div
                    class="flex overflow-hidden relative flex-col items-start pt-20 pr-20 pb-9 pl-8 w-full aspect-[1.01] fill-white max-md:px-5">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e4f54ac980864d6a248b23007db4a4ba0123dbb96586c157dc537c1a8143d1a?"
                      class="object-cover absolute inset-0 size-full" />
                    <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10">
                      Batteri 75 KW
                    </div>
                    <div class="relative text-xl">Les mer</div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                  <div
                    class="flex overflow-hidden relative flex-col pt-20 pr-20 pb-9 pl-8 aspect-[1.01] fill-white max-md:px-5">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/cdb1a47cf3fe5fa286b052c3f32833bd5a00cb66443c58cb16ea4c5085ed317e?"
                      class="object-cover absolute inset-0 size-full" />
                    <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10 max-md:mr-1.5">
                      Batteri 100 KW
                    </div>
                    <div class="relative text-xl max-md:mr-1.5">Les mer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="p-flex p-relative p-flex-column p-items-start p-px-20 p-py-16 p-w-full p-bg-white p-max-md-px-5 p-max-md-max-w-full">
          <div
            class="p-flex p-gap-5 p-justify-between p-ml-3 p-text-2xl p-font-bold p-whitespace-nowrap p-text-slate-700 p-max-md-flex-wrap">
            <div class="p-flex p-grow p-shrink-0 p-justify-center p-items-center p-basis-0 p-w-fit">
              <div
                class="p-overflow-hidden p-relative p-flex-column p-justify-center p-px-14 p-py-5 p-aspect-[3.87] p-fill-zinc-300 p-max-md-px-5">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0393cdbff2463ea1aaeae814b9c5025489ed4b4da303a282091059e5a559eaf1?"
                  class="p-object-cover p-absolute p-inset-0 p-size-full" />
                OPPLAST DATA
              </div>
            </div>
            <div class="p-flex p-grow p-shrink-0 p-justify-center p-items-center p-basis-0 p-w-fit">
              <div
                class="p-overflow-hidden p-relative p-flex-column p-justify-center p-px-12 p-py-5 p-aspect-[5.09] p-fill-zinc-300 p-max-md-px-5">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/24b7a10cb4242baae16a121f1b7dc6c3fceadc3841427ba726536d6575773f09?"
                  class="p-object-cover p-absolute p-inset-0 p-size-full" />
                MANUELL OPPLASTNING
              </div>
            </div>
          </div>
          <div
            class="p-mt-16 p-ml-3 p-text-3xl p-font-bold p-whitespace-nowrap p-text-slate-700 p-max-md-mt-10 p-max-md-ml-2.5">
            KW OVER TID
          </div>
          <div class="p-flex p-gap-3.5 p-mt-6 p-ml-3 p-text-xl p-text-slate-700 p-max-md-ml-2.5">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/b572f602e4740b50d20862a14decf5be4b743835801ec0a1583e5bbc1ad3b258?"
              class="p-shrink-0 p-my-auto p-w-3.5 p-aspect-square p-fill-red-400" />
            <div>Dine data</div>
          </div>
          <div
            class="p-flex p-flex-wrap p-gap-5 p-justify-between p-content-center p-self-stretch p-mt-16 p-max-md-mt-10">
            <div
              class="p-flex p-flex-column p-text-2xl p-font-bold p-whitespace-nowrap p-basis-0 p-text-slate-700 p-max-md-hidden">
              <div>400</div>
              <div class="p-mt-16 p-max-md-mt-10">300</div>
              <div class="p-mt-16 p-max-md-mt-10">200</div>
              <div class="p-mt-16 p-max-md-mt-10">100</div>
              <div class="p-mt-16 p-max-md-mt-10">0</div>
            </div>
            <div
              class="flex overflow-hidden relative flex-col self-center px-20 py-20 mt-16 text-3xl fill-green-200 min-h-[377px] text-slate-700 max-md:px-5 max-md:mt-10 max-md:max-w-full">
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/96063e1ba0728e0849dad8520d63101cae8f363f5cc73d9865aba6c2279524a2?"
                class="object-cover absolute inset-0 size-full" />
              <div class="relative mt-8 font-bold max-md:max-w-full">
                Dine muligheterbasert på dine data
              </div>
              <div class="relative mt-11 max-md:mt-10 max-md:max-w-full">
                Nedenfor ser du dine muligeter basert på peak point, varighet, og
              </div>
              <div class="relative mt-1.5 mb-7 max-md:max-w-full">
                antall nødvending KW.
              </div>
            </div>
            <div class="relative self-center px-5 mt-24 max-w-full w-[1035px] max-md:mt-10">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
                  <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                    <div
                      class="flex overflow-hidden relative flex-col items-start pt-20 pr-20 pb-8 pl-8 w-full aspect-square fill-white max-md:px-5">
                      <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9fe04711275f1d23bc06028d044dc3b77b6f4ff7f4fce41922f118eb393d8dae?"
                        class="object-cover absolute inset-0 size-full" />
                      <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10">
                        Batteri 50 KW
                      </div>
                      <div class="relative mt-1 text-xl">Les mer</div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                  <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                    <div
                      class="flex overflow-hidden relative flex-col items-start pt-20 pr-20 pb-9 pl-8 w-full aspect-[1.01] fill-white max-md:px-5">
                      <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e4f54ac980864d6a248b23007db4a4ba0123dbb96586c157dc537c1a8143d1a?"
                        class="object-cover absolute inset-0 size-full" />
                      <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10">Batteri 75 KW</div>
                      <div class="relative text-xl">Les mer</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
                <div class="flex relative flex-col grow justify-center font-bold text-slate-700 max-md:mt-10">
                  <div
                    class="flex overflow-hidden relative flex-col pt-20 pr-20 pb-9 pl-8 aspect-[1.01] fill-white max-md:px-5">
                    <img loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/cdb1a47cf3fe5fa286b052c3f32833bd5a00cb66443c58cb16ea4c5085ed317e?"
                      class="object-cover absolute inset-0 size-full" />
                    <div class="relative mt-28 text-3xl whitespace-nowrap max-md:mt-10 max-md:mr-1.5">Batteri 100 KW
                    </div>
                    <div class="relative text-xl max-md:mr-1.5">Les mer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>